<!-- settings.page.html -->
<ion-content class="ion-padding" color="light" fixed-slot-placement="before">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1 class="ms-3">Shopping List</h1>
  <div *ngIf="items.length">
    <ion-list>
      <ion-reorder-group
        (ionItemReorder)="reorderItems($event)"
        disabled="false"
      >
        @for (item of items; track item; let index = $index) {
        <app-shopping-list-row
          [autoFocus]="addMode"
          [itemName]="item.name"
          [index]="index"
          (itemDeleted)="deleteItem($event)"
          (nameChanged)="updateItemName($event, index)"
        ></app-shopping-list-row>
        }
      </ion-reorder-group>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
