<ion-item>
  <ion-reorder slot="start"></ion-reorder>
  <ion-checkbox slot="start" [(ngModel)]="itemCompleted" (ionChange)="emitItemCompleted()"></ion-checkbox>

  <div class="editable-label">
    <ng-container *ngIf="!isEditing; else editField">
      <ion-label (click)="enableEdit()">{{ itemName }}</ion-label>
    </ng-container>

    <ng-template #editField>
      <ion-input
        #inputEl
        [(ngModel)]="itemName"
        (ionBlur)="disableEdit()"
        (keydown.enter)="disableEdit()"
        (ionViewDidEnter)="focusInput()"
        autofocus
        clearInput
      ></ion-input>
    </ng-template>
  </div>

  <ion-button
    fill="clear"
    size="small"
    (click)="emitItemDeleted()"
    slot="end"
    aria-label="Delete item"
  >
    <ion-icon name="trash" color="medium"></ion-icon>
  </ion-button>
</ion-item>
